<!doctype html>
<html ng-app="Clockwork" ng-csp="">
	<head>
		<link rel="stylesheet" type="text/css" href="assets/vendor/stylesheets/angular-csp.css">
		<link rel="stylesheet" type="text/css" href="assets/vendor/stylesheets/jquery.resizableColumns.css">
		<link rel="stylesheet" type="text/css" href="assets/vendor/stylesheets/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="assets/vendor/stylesheets/pretty-jason.css">
		<link rel="stylesheet" type="text/css" href="assets/vendor/stylesheets/spinkit.css">
		<link rel="stylesheet" type="text/css" href="assets/stylesheets/panel.css">

		<script src="assets/vendor/javascripts/URI.min.js"></script>
		<script src="assets/vendor/javascripts/keymaster.min.js"></script>
		<script src="assets/vendor/javascripts/angular.min.js"></script>
		<script src="assets/vendor/javascripts/pretty-jason.js"></script>
		<script src="assets/vendor/javascripts/moment.min.js"></script>
		<script src="assets/vendor/javascripts/Chart.min.js"></script>
		<script src="assets/vendor/javascripts/angular-chart.min.js"></script>
		<script src="assets/vendor/javascripts/clipboard.min.js"></script>
		<script src="assets/vendor/javascripts/ngclipboard.min.js"></script>
		<script src="assets/vendor/javascripts/callgrind.js"></script>

		<script src="assets/javascripts/app.js"></script>
		<script src="assets/javascripts/directives/load-more-requests.js"></script>
		<script src="assets/javascripts/directives/pretty-print.js"></script>
		<script src="assets/javascripts/directives/scroll-to-new.js"></script>
		<script src="assets/javascripts/directives/shortened-text.js"></script>
		<script src="assets/javascripts/directives/stack-trace.js"></script>
		<script src="assets/javascripts/directives/tabs.js"></script>
		<script src="assets/javascripts/authentication.js"></script>
		<script src="assets/javascripts/extension.js"></script>
		<script src="assets/javascripts/filter.js"></script>
		<script src="assets/javascripts/panel.js"></script>
		<script src="assets/javascripts/profiler.js"></script>
		<script src="assets/javascripts/request.js"></script>
		<script src="assets/javascripts/requests.js"></script>
		<script src="assets/javascripts/standalone.js"></script>
		<script src="assets/javascripts/update-notification.js"></script>
	</head>
	<body>
		<div class="split-view" ng-controller="PanelController" ng-init="init()">
			<div class="split-view-pane split-view-requests" ng-show="! requestsListCollapsed">
				<table class="requests-header" id="requests-header" resizable-columns data-resizable-columns-sync="#requests">
					<thead>
						<tr>
							<th class="controller">
								Path<br><small>Controller</small>
							</th>
							<th class="method">
								Method
							</th>
							<th class="status">
								Status
							</th>
							<th class="duration">
								Time<br><small>Database</small>
							</th>
						</tr>
					</thead>
				</table>
				<div class="requests-container" load-more-requests>
					<div class="load-more">
						<p class="load" ng-show="! loadingMoreRequests">
							<a href="#" ng-click="loadMoreRequests()">load more</a>
						</p>
						<p class="loading" ng-show="loadingMoreRequests">
							loading...
						</p>
					</div>
					<table id="requests" resizable-columns data-resizable-columns-sync="#requests-header">
						<tr class="sizing">
							<td class="controller"></td>
							<td class="method"></td>
							<td class="status"></td>
							<td class="duration"></td>
						</tr>
						<tr ng-repeat="request in requests" ng-click="showRequest(request.id)" ng-class="getRequestClass(request.id)" scroll-to-new>
							<td class="controller" title="{{request.uri}} ({{ request.controller}})">
								<span class="notifications-count">
									<span class="errors-count" ng-show="request.errorsCount">
										<i class="fa fa-exclamation-circle"></i> {{request.errorsCount}}
									</span>
									<span class="warnings-count" ng-show="request.warningsCount">
										<i class="fa fa-exclamation-triangle"></i> {{request.warningsCount}}
									</span>
								</span>
								{{request.uri}}<br>
								<small>{{request.controller}}</small>
							</td>
							<td class="method" title="{{request.method}}">
								{{request.method}}
							</td>
							<td class="status" title="{{request.responseStatus}}">
								{{request.responseStatus}}
							</td>
							<td class="duration" title="{{request.responseDurationRounded}} ms ({{request.databaseDurationRounded}} ms)">
								{{request.responseDurationRounded}} ms<br>
								<small>{{request.databaseDurationRounded}} ms</small>
							</td>
						</tr>
						<tr class="filler">
							<td class="controller"></td>
							<td class="method"></td>
							<td class="status"></td>
							<td class="duration"></td>
						</tr>
					</table>
				</div>
			</div>

			<div class="split-view-pane split-view-details" tabs="app">

				<div class="details-header">
					<div class="icons">
						<a href="#" title="Toggle requests" ng-show="! requestsListCollapsed" ng-click="toggleRequestsList()">
							<span class="fa fa-outdent"></span>
						</a>
						<a href="#" title="Toggle requests" ng-show="requestsListCollapsed" ng-click="toggleRequestsList()">
							<span class="fa fa-indent"></span>
						</a>
					</div>

					<div class="details-header-tabs">
						<a tab-name="app.request" class="details-header-tab active" href="#">Request</a>
						<a tab-name="app.performance" class="details-header-tab" href="#">Performance</a>
						<a tab-name="app.log" ng-show="request.log.length" class="details-header-tab" href="#">Log</a>
						<a tab-name="app.events" ng-show="request.events.length" class="details-header-tab" href="#">Events</a>
						<a tab-name="app.db" ng-show="request.databaseQueries.length" class="details-header-tab" href="#">Database</a>
						<a tab-name="app.cache" ng-show="showCacheTab()" class="details-header-tab" href="#">Cache</a>
						<a tab-name="app.session" ng-show="request.sessionData.length" class="details-header-tab" href="#">Session</a>
						<a tab-name="app.views" ng-show="request.views.length" class="details-header-tab" href="#">Views</a>
						<a tab-name="app.emails" ng-show="request.emails.length" class="details-header-tab" href="#">Emails</a>
						<a tab-name="app.routes" ng-show="request.routes.length" class="details-header-tab" href="#">Routes</a>
						<a ng-repeat="userTab in request.userData" tab-name="app.user-{{ userTab.key }}" class="details-header-tab" href="#">{{ userTab.title }}</a>
					</div>

					<div class="icons">
						<a href="#" title="Preserve log" ng-show="! preserveLog" ng-click="togglePreserveLog()">
							<span class="fa fa-circle-o"></span>
						</a>
						<a href="#" title="Preserve log" ng-show="preserveLog" ng-click="togglePreserveLog()">
							<span class="fa fa-circle"></span>
						</a>
						<a href="#" title="Clear" ng-click="clear()">
							<span class="fa fa-ban"></span>
						</a>
					</div>
				</div>

				<div class="details-content">

					<div tab-content="app.request">
						<div class="update-notification" ng-show="updateNotification">
							<span>
								A new Clockwork server-side version is available, {{updateNotification.version}}, you are using {{updateNotification.currentVersion}}.
								<a ng-show="updateNotification.url" href="{{updateNotification.url}}" target="_blank">Read more</a>
							</span>
							<span class="updateNotification-close">
								<a ng-click="closeUpdateNotification()" href="#">Close</a>
							</span>
						</div>

						<div class="parent-request" ng-show="request.parent">
							<span>
								Subrequest of <code>{{ request.parent.method }} {{ request.parent.uri }}</code>.
							</span>
							<span class="parentRequest-close">
								<a ng-click="showRequest(request.parent.id)" href="#">Show</a>
							</span>
						</div>

						<div class="request-tab-info">
							<div class="field">
								<div class="field-title">Method</div>
								<div class="field-value">
									<div>{{request.method}}</div>
								</div>
							</div>
							<div class="field action">
								<div class="field-title">Action</div>
								<div class="field-value">
									<div>{{request.uri}}</div>
									<div class="small">{{request.controller}}</div>
								</div>
							</div>
							<div class="field link">
								<div class="field-title">&nbsp;</div>
								<div class="field-value">
									<a href="#" ng-show="request.url" ngclipboard data-clipboard-text="{{request.url}}" title="Copy url">
										<span class="fa fa-link"></span>
									</a>
								</div>
							</div>
							<div class="field">
								<div class="field-title">Status</div>
								<div class="field-value">
									<div>{{request.responseStatus}}</div>
								</div>
							</div>
						</div>

						<table ng-show="request.headers.length">
							<thead>
								<tr>
									<th colspan="2">
										Request headers
										<a href="#" class="toggle-filter" ng-click="headersFilter.toggle($event)">
											<span class="fa fa-search"></span>
										</a>
									</th>
								</tr>
								<tr class="filter" ng-show="headersFilter.shown">
									<td colspan="2">
										<label>
											<span class="fa fa-search"></span>
											<input type="search" placeholder="Filter..." ng-model="headersFilter.input">
											<span class="example" ng-hide="headersFilter.input">eg. text/html name:Accept</span>
										</div>
									</td>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="param in request.headers | filter:headersFilter.filter()">
									<td class="key">{{param.name}}</td>
									<td class="value"><pretty-print data="param.value"></pretty-print></td>
								</tr>
							</tbody>
						</table>

						<table ng-show="request.getData.length">
							<thead>
								<tr>
									<th colspan="2">
										GET parameters
										<a href="#" class="toggle-filter" ng-click="getDataFilter.toggle($event)">
											<span class="fa fa-search"></span>
										</a>
									</th>
								</tr>
								<tr class="filter" ng-show="getDataFilter.shown">
									<td colspan="2">
										<label>
											<span class="fa fa-search"></span>
											<input type="search" placeholder="Filter..." ng-model="getDataFilter.input">
											<span class="example" ng-hide="getDataFilter.input">eg. created_at name:orderBy</span>
										</div>
									</td>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="param in request.getData | filter:getDataFilter.filter()">
									<td class="key">{{param.name}}</td>
									<td class="value"><pretty-print data="param.value"></pretty-print></td>
								</tr>
							</tbody>
						</table>

						<table ng-show="request.postData.length">
							<thead>
								<tr>
									<th colspan="2">
										POST parameters
										<a href="#" class="toggle-filter" ng-click="postDataFilter.toggle($event)">
											<span class="fa fa-search"></span>
										</a>
									</th>
								</tr>
								<tr class="filter" ng-show="postDataFilter.shown">
									<td colspan="2">
										<label>
											<span class="fa fa-search"></span>
											<input type="search" placeholder="Filter..." ng-model="postDataFilter.input">
											<span class="example" ng-hide="postDataFilter.input">eg. "Mike Jones" name:name</span>
										</div>
									</td>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="param in request.postData | filter:postDataFilter.filter()">
									<td class="key">{{param.name}}</td>
									<td class="value"><pretty-print data="param.value"></pretty-print></td>
								</tr>
							</tbody>
						</table>

						<table ng-show="request.cookies.length">
							<thead>
								<tr>
									<th colspan="2">
										Cookies
										<a href="#" class="toggle-filter" ng-click="cookiesFilter.toggle($event)">
											<span class="fa fa-search"></span>
										</a>
									</th>
								</tr>
								<tr class="filter" ng-show="cookiesFilter.shown">
									<td colspan="2">
										<label>
											<span class="fa fa-search"></span>
											<input type="search" placeholder="Filter..." ng-model="cookiesFilter.input">
											<span class="example" ng-hide="cookiesFilter.input">eg. 24knr234 name:cart_token</span>
										</div>
									</td>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="param in request.cookies | filter:cookiesFilter.filter()">
									<td class="key">{{param.name}}</td>
									<td class="value"><pretty-print data="param.value"></pretty-print></td>
								</tr>
							</tbody>
						</table>
					</div>

					<div tab-content="app.events">
						<table>
							<thead>
								<tr>
									<th ng-click="eventsFilter.sortBy('time')">
										Time
										<span ng-show="eventsFilter.sortedBy == 'time'" ng-class="eventsFilter.sortedDesc ? 'fa fa-angle-down' : 'fa fa-angle-up'"></span>
									</th>
									<th ng-click="eventsFilter.sortBy('event')">
										Event
										<span ng-show="eventsFilter.sortedBy == 'event'" ng-class="eventsFilter.sortedDesc ? 'fa fa-angle-down' : 'fa fa-angle-up'"></span>
									</th>
									<th>
										<a href="#" class="toggle-filter" ng-click="eventsFilter.toggle($event)">
											<span class="fa fa-search"></span>
										</a>
									</th>
								</tr>
								<tr class="filter" ng-show="eventsFilter.shown">
									<td colspan="3">
										<label>
											<span class="fa fa-search"></span>
											<input type="search" placeholder="Filter..." ng-model="eventsFilter.input">
											<span class="example" ng-hide="eventsFilter.input">eg. "user registered" file:Controller.php time:&lt;13:08:30</span>
										</div>
									</td>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="event in request.events | filter:eventsFilter.filter() | orderBy:eventsFilter.sortedBy:eventsFilter.sortedDesc">
									<td>{{event.time | date:'HH:mm:ss'}}</td>
									<td>
										<div class="fired-event">
											<div class="fired-event-content">
												<div ng-if="event.objectEvent">
													<pretty-print data="event.data"></pretty-print>
												</div>
												<div ng-if="! event.objectEvent">
													{{event.event}}
												</div>
											</div>
											<stack-trace class="fired-query-path" trace="event.trace" short-path="event.shortPath" full-path="event.fullPath"></stack-trace>
										</div>
										<div class="fired-event-details" ng-show="isEventExpanded(event)">
											<div class="fired-event-parameters" ng-if="! event.objectEvent">
												<h4>Parameters</h4>
												<pretty-print data="event.data"></pretty-print>
											</div>
											<div class="fired-event-listeners">
												<h4>Listeners</h4>
												<div ng-repeat="listener in event.listeners" shortened-text="{{listener.name}}">
													{{listener.shortName}}
												</div>
											</div>
										</div>
									</td>
									<td class="fired-event-actions">
										<a href="#" ng-show="! isEventExpanded(event)" ng-click="toggleEvent(event)">
											<span class="fa fa-chevron-down"></span>
										</a>
										<a href="#" ng-show="isEventExpanded(event)" ng-click="toggleEvent(event)">
											<span class="fa fa-chevron-up"></span>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div tab-content="app.db">

						<div class="counters-row">
							<div class="counter">
								<div class="counter-value">{{databaseQueriesStats.queries}}</div>
								<div class="counter-title">queries</div>
							</div>
							<div class="counter" ng-show="databaseQueriesStats.selects">
								<div class="counter-value">{{databaseQueriesStats.selects}}</div>
								<div class="counter-title">selects</div>
							</div>
							<div class="counter" ng-show="databaseQueriesStats.inserts">
								<div class="counter-value">{{databaseQueriesStats.inserts}}</div>
								<div class="counter-title">inserts</div>
							</div>
							<div class="counter" ng-show="databaseQueriesStats.updates">
								<div class="counter-value">{{databaseQueriesStats.updates}}</div>
								<div class="counter-title">updates</div>
							</div>
							<div class="counter" ng-show="databaseQueriesStats.deletes">
								<div class="counter-value">{{databaseQueriesStats.deletes}}</div>
								<div class="counter-title">deletes</div>
							</div>
							<div class="counter" ng-show="databaseQueriesStats.other">
								<div class="counter-value">{{databaseQueriesStats.other}}</div>
								<div class="counter-title">other</div>
							</div>
							<div class="counter">
								<div class="counter-value">{{request.databaseDurationRounded}}&nbsp;ms</div>
								<div class="counter-title">time</div>
							</div>
						</div>

						<table>
							<thead>
								<tr>
									<th ng-click="databaseQueriesFilter.sortBy('model')">
										Model
										<span ng-show="databaseQueriesFilter.sortedBy == 'model'" ng-class="databaseQueriesFilter.sortedDesc ? 'fa fa-angle-down' : 'fa fa-angle-up'"></span>
									</th>
									<th ng-click="databaseQueriesFilter.sortBy('connection')" ng-show="showDatabaseConnectionColumn()">
										Connection
										<span ng-show="databaseQueriesFilter.sortedBy == 'connection'" ng-class="databaseQueriesFilter.sortedDesc ? 'fa fa-angle-down' : 'fa fa-angle-up'"></span>
									</th>
									<th ng-click="databaseQueriesFilter.sortBy('sql')">
										SQL
										<span ng-show="databaseQueriesFilter.sortedBy == 'sql'" ng-class="databaseQueriesFilter.sortedDesc ? 'fa fa-angle-down' : 'fa fa-angle-up'"></span>
									</th>
									<th ng-click="databaseQueriesFilter.sortBy('duration')" class="duration">
										Duration
										<span ng-show="databaseQueriesFilter.sortedBy == 'duration'" ng-class="databaseQueriesFilter.sortedDesc ? 'fa fa-angle-down' : 'fa fa-angle-up'"></span>
										<a href="#" class="toggle-filter" ng-click="databaseQueriesFilter.toggle($event)">
											<span class="fa fa-search"></span>
										</a>
									</th>
								</tr>
								<tr class="filter" ng-show="databaseQueriesFilter.shown">
									<td colspan="4">
										<label>
											<span class="fa fa-search"></span>
											<input type="search" placeholder="Search..." ng-model="databaseQueriesFilter.input">
											<span class="example" ng-hide="databaseQueriesFilter.input">eg. where request_id model:request type:select file:Controller.php duration:>100</span>
										</div>
									</td>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="query in request.databaseQueries | filter:databaseQueriesFilter.filter() | orderBy:databaseQueriesFilter.sortedBy:databaseQueriesFilter.sortedDesc">
									<td>
										<div shortened-text="{{query.model}}">{{query.shortModel}}</div>
									</td>
									<td ng-show="showDatabaseConnectionColumn()">{{query.connection}}</td>
									<td>
										<div class="database-query">
											<div class="database-query-content">{{query.query}}</div>
											<stack-trace class="database-query-path" trace="query.trace" short-path="query.shortPath" full-path="query.fullPath"></stack-trace>
										</div>
									</td>
									<td class="database-duration">{{query.duration | number:3}} ms</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div tab-content="app.cache">
						<div class="counters-row">
							<div class="counter" ng-show="request.cacheQueries.length">
								<div class="counter-value">{{request.cacheQueries.length}}</div>
								<div class="counter-title">queries</div>
							</div>
							<div class="counter" ng-show="request.cacheReads !== null">
								<div class="counter-value">{{request.cacheReads}}</div>
								<div class="counter-title">reads</div>
							</div>
							<div class="counter" ng-show="request.cacheHits !== null">
								<div class="counter-value">{{request.cacheHits}}</div>
								<div class="counter-title">hits</div>
							</div>
							<div class="counter" ng-show="request.cacheMisses !== null">
								<div class="counter-value">{{request.cacheMisses}}</div>
								<div class="counter-title">misses</div>
							</div>
							<div class="counter" ng-show="request.cacheWrites !== null">
								<div class="counter-value">{{request.cacheWrites}}</div>
								<div class="counter-title">writes</div>
							</div>
							<div class="counter" ng-show="request.cacheDeletes !== null">
								<div class="counter-value">{{request.cacheDeletes}}</div>
								<div class="counter-title">deletes</div>
							</div>
							<div class="counter" ng-show="request.cacheTime !== null">
								<div class="counter-value">{{request.cacheTime}}</div>
								<div class="counter-title">time</div>
							</div>
						</div>

						<table ng-show="request.cacheQueries.length">
							<thead>
								<tr>
									<th ng-click="cacheQueriesFilter.sortBy('connection')" ng-show="showCacheQueriesConnectionColumn()">
										Connection
										<span ng-show="cacheQueriesFilter.sortedBy == 'connection'" ng-class="cacheQueriesFilter.sortedDesc ? 'fa fa-angle-down' : 'fa fa-angle-up'"></span>
									</th>
									<th ng-click="cacheQueriesFilter.sortBy('type')">
										Action
										<span ng-show="cacheQueriesFilter.sortedBy == 'action'" ng-class="cacheQueriesFilter.sortedDesc ? 'fa fa-angle-down' : 'fa fa-angle-up'"></span>
									</th>
									<th ng-click="cacheQueriesFilter.sortBy('key')">
										Key
										<span ng-show="cacheQueriesFilter.sortedBy == 'key'" ng-class="cacheQueriesFilter.sortedDesc ? 'fa fa-angle-down' : 'fa fa-angle-up'"></span>
									</th>
									<th ng-click="cacheQueriesFilter.sortBy('value')">
										Value
										<span ng-show="cacheQueriesFilter.sortedBy == 'value'" ng-class="cacheQueriesFilter.sortedDesc ? 'fa fa-angle-down' : 'fa fa-angle-up'"></span>
									</th>
									<th ng-click="cacheQueriesFilter.sortBy('expires')">
										Expires
										<span ng-show="cacheQueriesFilter.sortedBy == 'expires'" ng-class="cacheQueriesFilter.sortedDesc ? 'fa fa-angle-down' : 'fa fa-angle-up'"></span>
										<a href="#" class="toggle-filter" ng-click="cacheQueriesFilter.toggle($event)" ng-if="! showCacheQueriesDurationColumn()">
											<span class="fa fa-search"></span>
										</a>
									</th>
									<th ng-click="cacheQueriesFilter.sortBy('duration')" class="duration" ng-if="showCacheQueriesDurationColumn()">
										Duration
										<span ng-show="cacheQueriesFilter.sortedBy == 'duration'" ng-class="cacheQueriesFilter.sortedDesc ? 'fa fa-angle-down' : 'fa fa-angle-up'"></span>
										<a href="#" class="toggle-filter" ng-click="cacheQueriesFilter.toggle($event)">
											<span class="fa fa-search"></span>
										</a>
									</th>
								</tr>
								<tr class="filter" ng-show="cacheQueriesFilter.shown">
									<td colspan="6">
										<label>
											<span class="fa fa-search"></span>
											<input type="search" placeholder="Filter..." ng-model="cacheQueriesFilter.input">
											<span class="example" ng-hide="cacheQueriesFilter.input">eg. info@underground.works action:miss key:lastRequest file:Controller.php</span>
										</div>
									</td>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="query in request.cacheQueries | filter:cacheQueriesFilter.filter() | orderBy:cacheQueriesFilter.sortedBy:cacheQueriesFilter.sortedDesc">
									<td ng-show="showCacheQueriesConnectionColumn()">{{query.connection}}</td>
									<td class="cache-query-type">{{query.type}}</td>
									<td>{{query.key}}</td>
									<td>
										<div class="database-query">
											<div class="database-query-content">
												<pretty-print data="query.value"></pretty-print>
											</div>
											<stack-trace class="database-query-path" trace="query.trace" short-path="query.shortPath" full-path="query.fullPath"></stack-trace>
										</div>
									</td>
									<td><span ng-show="query.expiration">{{query.expiration}}</span></td>
									<td ng-show="showCacheQueriesDurationColumn()">{{query.duration | number:3}} ms</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div tab-content="app.log">
						<table>
							<thead>
								<tr>
									<th ng-click="logFilter.sortBy('time')">
										Time
										<span ng-show="logFilter.sortedBy == 'time'" ng-class="logFilter.sortedDesc ? 'fa fa-angle-down' : 'fa fa-angle-up'"></span>
									</th>
									<th ng-click="logFilter.sortBy('level')">
										Level
										<span ng-show="logFilter.sortedBy == 'level'" ng-class="logFilter.sortedDesc ? 'fa fa-angle-down' : 'fa fa-angle-up'"></span>
									</th>
									<th ng-click="logFilter.sortBy('message')">
										Message
										<span ng-show="logFilter.sortedBy == 'message'" ng-class="logFilter.sortedDesc ? 'fa fa-angle-down' : 'fa fa-angle-up'"></span>
										<a href="#" class="toggle-filter" ng-click="logFilter.toggle($event)">
											<span class="fa fa-search"></span>
										</a>
									</th>
								</tr>
								<tr class="filter" ng-show="logFilter.shown">
									<td colspan="3">
										<label>
											<span class="fa fa-search"></span>
											<input type="search" placeholder="Filter..." ng-model="logFilter.input">
											<span class="example" ng-hide="logFilter.input">eg. query failed level:error file:Controller.php time:>13:08:29</span>
										</div>
									</td>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="message in request.log | filter:logFilter.filter() | orderBy:logFilter.sortedBy:logFilter.sortedDesc" ng-class="{ 'log-row': true, 'error': ['emergency', 'alert', 'critical', 'error'].includes(message.level), warning: message.level == 'warning' }">
									<td class="log-date">{{message.time | date:'HH:mm:ss'}}</td>
									<td class="log-level">{{message.level}}</td>
									<td>
										<div class="log-message">
											<div class="log-message-content">
												<pretty-print data="message.message"></pretty-print>
												<div ng-show="message.context">
													<pretty-print data="message.context"></pretty-print>
												</div>
											</div>
											<stack-trace class="log-message-path" trace="message.trace" short-path="message.shortPath" full-path="message.fullPath"></stack-trace>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div tab-content="app.performance">
						<div class="counters-row">
							<div class="performance-chart-container">
								<div class="performance-chart">
									<canvas id="doughnut" class="chart chart-doughnut" chart-data="performanceMetricsChartValues" chart-colors="performanceMetricsChartColors" chart-options="performanceMetricsChartOptions"></canvas>
								</div>
							</div>
							<div ng-repeat="metric in request.performanceMetrics" class="counter performance-chart-legend {{ metric.style }}">
								<div class="counter-value">{{metric.value}}&nbsp;ms</div>
								<div class="counter-title">{{metric.name}}</div>
							</div>
							<div class="counter" ng-show="request.responseDurationRounded">
								<div class="counter-value">{{request.responseDurationRounded}}&nbsp;ms</div>
								<div class="counter-title">total</div>
							</div>
							<div class="counter" ng-show="request.memoryUsage">
								<div class="counter-value">{{request.memoryUsageFormatted}}</div>
								<div class="counter-title">memory</div>
							</div>
						</div>

						<div tabs="performance">
							<div class="performance-tabs">
								<a tab-name="performance.timeline" class="performance-tab active" href="#" ng-click="profilerIsOpen = false">Timeline</a>
								<a tab-name="performance.profiler" class="performance-tab" href="#" ng-click="profiler.loadRequest(request); profilerIsOpen = true">Profiler</a>
							</div>

							<div tab-content="performance.timeline">
								<div class="timeline" ng-class="{ 'table-view': timelineView == 'table' }">
									<div class="timeline-controls">
										<span class="timeline-control-group">
											<a href="#" class="toggle-filter" ng-click="timelineFilter.toggle($event)">
												<span class="fa fa-search"></span>
											</a>
										</span>
										<span class="timeline-control-group">
											<a href="#" ng-click="setTimelineView('chart')" ng-class="{ 'active': timelineView == 'chart' }" title="Timeline view">
												<span class="fa fa-bar-chart"></span>
											</a>
											<a href="#" ng-click="setTimelineView('table')" ng-class="{ 'active': timelineView == 'table' }" title="Table view">
												<span class="fa fa-bars"></span>
											</a>
										</span>
									</div>
									<table class="timeline-table">
										<thead>
											<tr>
												<th>Timeline</th>
												<th class="timeline-duration">Duration</th>
												<th class="timeline-description">Description</th>
											</tr>
											<tr class="filter" ng-show="timelineFilter.shown">
												<td colspan="3">
													<label>
														<span class="fa fa-search"></span>
														<input type="search" placeholder="Filter..." ng-model="timelineFilter.input">
														<span class="example" ng-hide="timelineFilter.input">eg. database query duration:>50</span>
													</div>
												</td>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="item in request.timeline | filter:timelineFilter.filter()">
												<td class="timeline-graph">
													<div ng-if="$first" class="timeline-legend">
														<span ng-repeat="item in timelineLegend" class="timeline-legend-time" style="left:{{item.left}}%">{{item.time}} ms</span>
													</div>
													<div class="timeline-bar {{item.style}}">
														<div class="label" style="text-align:{{item.labelAlign}};margin-left:{{item.labelLeft}};margin-right:{{item.labelRight}};">
															{{item.description}} ({{item.durationRounded}} ms)
														</div>
														<div class="bar" style="width:{{item.barWidth}};margin-left:{{item.barLeft}};"></div>
													</div>
												</td>
												<td class="timeline-duration">{{item.durationRounded}} ms</td>
												<td class="timeline-description">{{item.description}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

							<div tab-content="performance.profiler">

								<table class="profiler" ng-if="profiler.ready">
									<thead>
										<tr>
											<th ng-click="xdebugFilter.sortBy('self[' + profiler.metric + ']')">
												Self
												<span ng-show="xdebugFilter.sortedBy == 'self[' + profiler.metric + ']'" ng-class="xdebugFilter.sortedDesc ? 'fa fa-angle-down' : 'fa fa-angle-up'"></span>
											</th>
											<th ng-click="xdebugFilter.sortBy('inclusive[' + profiler.metric + ']')">
												Inclusive
												<span ng-show="xdebugFilter.sortedBy == 'inclusive[' + profiler.metric + ']'" ng-class="xdebugFilter.sortedDesc ? 'fa fa-angle-down' : 'fa fa-angle-up'"></span>
											</th>
											<th ng-click="xdebugFilter.sortBy('function')">
												Function
												<span ng-show="xdebugFilter.sortedBy == 'function'" ng-class="xdebugFilter.sortedDesc ? 'fa fa-angle-down' : 'fa fa-angle-up'"></span>
												<div class="profiler-controls">
													<span class="profiler-control-group">
														<a href="#" class="toggle-filter" ng-click="xdebugFilter.toggle($event)">
															<span class="fa fa-search"></span>
														</a>
													</span>
													<span class="profiler-control-group profiler-show-metric">
														<a href="#" ng-click="profiler.showMetric($event, 0)" ng-class="{ 'active': profiler.metric == 0 }" title="Execution time">
															<span class="fa fa-clock-o"></span>
														</a>
														<a href="#" ng-click="profiler.showMetric($event, 1)" ng-class="{ 'active': profiler.metric == 1 }" title="Memory usage">
															<span class="fa fa-microchip"></span>
														</a>
													</span>
													<span class="profiler-control-group">
														<a href="#" ng-click="profiler.showPercentual($event, false)" ng-class="{ 'active': ! profiler.percentual }" title="Exact">
															<span ng-if="profiler.metric == 0">ms</span>
															<span ng-if="profiler.metric == 1">kB</span>
														</a>
														<a href="#" ng-click="profiler.showPercentual($event)" ng-class="{ 'active': profiler.percentual }" title="Percentual">
															<span class="fa fa-percent"></span>
														</a>
													</span>
													<span class="profiler-control-group profiler-shown-fraction">
														<a href="#" ng-click="profiler.setShownFraction($event, 1)" ng-class="{ 'active': profiler.shownFraction == 1 }">
															100%
														</a>
														<a href="#" ng-click="profiler.setShownFraction($event, 0.9)" ng-class="{ 'active': profiler.shownFraction == 0.9 }">
															90%
														</a>
														<a href="#" ng-click="profiler.setShownFraction($event, 0.5)" ng-class="{ 'active': profiler.shownFraction == 0.5 }">
															50%
														</a>
													</span>
													<span class="profiler-control-group">
														<a href="#" ng-click="profiler.disableProfiling($event)" title="Disable profiler">
															<span class="fa fa-times-circle"></span>
														</a>
													</span>
												</div>
											</th>
										</tr>
										<tr class="filter" ng-show="xdebugFilter.shown">
											<td colspan="3">
												<label>
													<span class="fa fa-search"></span>
													<input type="search" placeholder="Filter..." ng-model="xdebugFilter.input">
													<span class="example" ng-hide="xdebugFilter.input">eg. "preg_match" self:>500</span>
												</div>
											</td>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in profiler.functions | filter:xdebugFilter.filter() | orderBy:xdebugFilter.sortedBy:xdebugFilter.sortedDesc">
											<td class="profiler-metric">{{item.self | profilerMetric}}</td>
											<td class="profiler-metric">{{item.inclusive | profilerMetric}}</td>
											<td class="profiler-function">
												<div class="profiler-function-name">
													{{item.name}}
												</div>
												<div class="profiler-path">
													<div shortened-text="{{item.fullPath}}">{{item.shortPath}}</div>
												</div>
											</td>
										</tr>
									</tbody>
								</table>

								<div class="profiler-loading" ng-show="profiler.loading || profiler.parsing">
									<div class="sk-fading-circle">
										<div class="sk-circle1 sk-circle"></div>
										<div class="sk-circle2 sk-circle"></div>
										<div class="sk-circle3 sk-circle"></div>
										<div class="sk-circle4 sk-circle"></div>
										<div class="sk-circle5 sk-circle"></div>
										<div class="sk-circle6 sk-circle"></div>
										<div class="sk-circle7 sk-circle"></div>
										<div class="sk-circle8 sk-circle"></div>
										<div class="sk-circle9 sk-circle"></div>
										<div class="sk-circle10 sk-circle"></div>
										<div class="sk-circle11 sk-circle"></div>
										<div class="sk-circle12 sk-circle"></div>
									</div>
									<p class="message" ng-show="profiler.loading">
										Loading profile...
									</p>
									<p class="message" ng-show="profiler.parsing">
										Processing profile...
									</p>
								</div>

								<div class="profiler-not-available" ng-show="! profiler.available">
									<p>
										Profile is not present for current request.
									</p>
									<p class="message">
										Profiling requires the Xdebug php extension.<br>
										<a href="#">Read more about how to set up Xdebug</a>
									</p>
									<p class="message profiler-enable">
										<a href="#" ng-click="profiler.enableProfiling()" ng-show="! profiler.isProfiling">
											Enable profiler
										</a>
										<a href="#" ng-click="profiler.disableProfiling()" ng-show="profiler.isProfiling">
											Disable profiler
										</a>
									</p>
								</div>
							</div>
						</div>
					</div>

					<div tab-content="app.session">
						<table>
							<thead>
								<tr>
									<th colspan="2">
										Session
										<a href="#" class="toggle-filter" ng-click="sessionFilter.toggle($event)">
											<span class="fa fa-search"></span>
										</a>
									</th>
								</tr>
								<tr class="filter" ng-show="sessionFilter.shown">
									<td colspan="2">
										<label>
											<span class="fa fa-search"></span>
											<input type="search" placeholder="Filter..." ng-model="sessionFilter.input">
											<span class="example" ng-hide="sessionFilter.input">eg. registration successful name:_token</span>
										</div>
									</td>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="param in request.sessionData | filter:sessionFilter.filter()">
									<td class="key">{{param.name}}</td>
									<td class="value"><pretty-print data="param.value"></pretty-print></td>
								</tr>
							</tbody>
						</table>
					</div>

					<div tab-content="app.views">
						<table>
							<thead>
								<tr>
									<th ng-click="viewsFilter.sortBy('name')">
										Name
										<span ng-show="viewsFilter.sortedBy == 'name'" ng-class="viewsFilter.sortedDesc ? 'fa fa-angle-down' : 'fa fa-angle-up'"></span>
									</th>
									<th ng-click="viewsFilter.sortBy('data')">
										Data
										<span ng-show="viewsFilter.sortedBy == 'data'" ng-class="viewsFilter.sortedDesc ? 'fa fa-angle-down' : 'fa fa-angle-up'"></span>
										<a href="#" class="toggle-filter" ng-click="viewsFilter.toggle($event)">
											<span class="fa fa-search"></span>
										</a>
									</th>
								</tr>
								<tr class="filter" ng-show="viewsFilter.shown">
									<td colspan="2">
										<label>
											<span class="fa fa-search"></span>
											<input type="search" placeholder="Filter..." ng-model="viewsFilter.input">
											<span class="example" ng-hide="viewsFilter.input">eg. "Mike Jones" name:welcome</span>
										</div>
									</td>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="view in request.views | filter:viewsFilter.filter() | orderBy:viewsFilter.sortedBy:viewsFilter.sortedDesc">
									<td>{{view.name}}</td>
									<td><pretty-print data="view.data"></pretty-print></td>
								</tr>
							</tbody>
						</table>
					</div>

					<div tab-content="app.emails">
						<table>
							<thead>
								<tr>
									<th ng-click="emailsFilter.sortBy('to')">
										To
										<span ng-show="emailsFilter.sortedBy == 'to'" ng-class="emailsFilter.sortedDesc ? 'fa fa-angle-down' : 'fa fa-angle-up'"></span>
									</th>
									<th ng-click="emailsFilter.sortBy('subject')">
										Subject
										<span ng-show="emailsFilter.sortedBy == 'subject'" ng-class="emailsFilter.sortedDesc ? 'fa fa-angle-down' : 'fa fa-angle-up'"></span>
										<a href="#" class="toggle-filter" ng-click="emailsFilter.toggle($event)">
											<span class="fa fa-search"></span>
										</a>
									</th>
								</tr>
								<tr>
									<th colspan="2">Headers</th>
								</tr>
								<tr class="filter" ng-show="emailsFilter.shown">
									<td colspan="2">
										<label>
											<span class="fa fa-search"></span>
											<input type="search" placeholder="Filter..." ng-model="emailsFilter.input">
											<span class="example" ng-hide="emailsFilter.input">eg. "User Registration" to:its@underground.works</span>
										</div>
									</td>
								</tr>
							</thead>
							<tbody ng-repeat="email in request.emails | filter:emailsFilter.filter() | orderBy:emailsFilter.sortedBy:emailsFilter.sortedDesc">
								<tr>
									<td>{{email.to}}</td>
									<td>{{email.subject}}</td>
								</tr>
								<tr>
									<td colspan="2"><pretty-print data="email.headers"></pretty-print></td>
								</tr>
							</tbody>
						</table>
					</div>

					<div tab-content="app.routes">
						<table>
							<thead>
								<tr>
									<th ng-click="routesFilter.sortBy('method')">
										Method
										<span ng-show="routesFilter.sortedBy == 'method'" ng-class="routesFilter.sortedDesc ? 'fa fa-angle-down' : 'fa fa-angle-up'"></span>
									</th>
									<th ng-click="routesFilter.sortBy('uri')">
										URI
										<span ng-show="routesFilter.sortedBy == 'uri'" ng-class="routesFilter.sortedDesc ? 'fa fa-angle-down' : 'fa fa-angle-up'"></span>
									</th>
									<th ng-click="routesFilter.sortBy('action')">
										Action
										<span ng-show="routesFilter.sortedBy == 'action'" ng-class="routesFilter.sortedDesc ? 'fa fa-angle-down' : 'fa fa-angle-up'"></span>
									</th>
									<th ng-click="routesFilter.sortBy('name')">
										Name
										<span ng-show="routesFilter.sortedBy == 'name'" ng-class="routesFilter.sortedDesc ? 'fa fa-angle-down' : 'fa fa-angle-up'"></span>
									</th>
									<th ng-click="routesFilter.sortBy('middleware')">
										Middleware
										<span ng-show="routesFilter.sortedBy == 'middleware'" ng-class="routesFilter.sortedDesc ? 'fa fa-angle-down' : 'fa fa-angle-up'"></span>
									</th>
									<th ng-click="routesFilter.sortBy('before')">
										Before
										<span ng-show="routesFilter.sortedBy == 'before'" ng-class="routesFilter.sortedDesc ? 'fa fa-angle-down' : 'fa fa-angle-up'"></span>
									</th>
									<th ng-click="routesFilter.sortBy('after')">
										After
										<span ng-show="routesFilter.sortedBy == 'after'" ng-class="routesFilter.sortedDesc ? 'fa fa-angle-down' : 'fa fa-angle-up'"></span>
										<a href="#" class="toggle-filter" ng-click="routesFilter.toggle($event)">
											<span class="fa fa-search"></span>
										</a>
									</th>
								</tr>
								<tr class="filter" ng-show="routesFilter.shown">
									<td colspan="7">
										<label>
											<span class="fa fa-search"></span>
											<input type="search" placeholder="Filter..." ng-model="routesFilter.input">
											<span class="example" ng-hide="routesFilter.input">eg. OrderController method:post uri:order</span>
										</div>
									</td>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="param in request.routes | filter:routesFilter.filter() | orderBy:routesFilter.sortedBy:routesFilter.sortedDesc">
									<td>{{param.method}}</td>
									<td>{{param.uri}}</td>
									<td>{{param.action}}</td>
									<td>{{param.name}}</td>
									<td><span ng-repeat="middleware in param.middleware">{{middleware}}{{$last ? '' : ', '}}</span></td>
									<td>{{param.before}}</td>
									<td>{{param.after}}</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div ng-repeat="userTab in request.userData" tab-content="app.user-{{userTab.key}}">
						<div ng-repeat="(sectionIndex, section) in userTab.sections">
							<div ng-if="section.showAs == 'counters'" class="counters-row">
								<div ng-repeat="item in section.data" class="counter">
									<div class="counter-value">{{item.value}}</div>
									<div class="counter-title">{{item.key}}</div>
								</div>
							</div>

							<h3 ng-if="section.title">
								{{section.title}}
							</h3>

							<table ng-if="section.showAs == 'table'">
								<thead>
									<tr>
										<th ng-repeat="item in section.data[0]" ng-click="userDataFilter[userTab.key][sectionIndex].sortBy(item.key)">
											{{item.key}}
											<span ng-show="userDataFilter[userTab.key][sectionIndex].sortedBy == item.key" ng-class="userDataFilter[userTab.key][sectionIndex].sortedDesc ? 'fa fa-angle-down' : 'fa fa-angle-up'"></span>
											<a href="#" class="toggle-filter" ng-click="userDataFilter[userTab.key][sectionIndex].toggle($event)" ng-if="$last">
												<span class="fa fa-search"></span>
											</a>
										</th>
									</tr>
									<tr class="filter" ng-show="userDataFilter[userTab.key][sectionIndex].shown">
										<td colspan="2">
											<label>
												<span class="fa fa-search"></span>
												<input type="search" placeholder="Filter..." ng-model="userDataFilter[userTab.key][sectionIndex].input">
											</div>
										</td>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in section.data | filter:userDataFilter[userTab.key][sectionIndex].filter() | orderBy:userDataFilter[userTab.key][sectionIndex].sortedBy:userDataFilter[userTab.key][sectionIndex].sortedDesc">
										<td ng-repeat="item in item">{{item.value}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

				</div>

				<div class="details-loading-overlay" ng-show="request.loading && ! authentication.overlay.show">
					<div class="sk-fading-circle">
						<div class="sk-circle1 sk-circle"></div>
						<div class="sk-circle2 sk-circle"></div>
						<div class="sk-circle3 sk-circle"></div>
						<div class="sk-circle4 sk-circle"></div>
						<div class="sk-circle5 sk-circle"></div>
						<div class="sk-circle6 sk-circle"></div>
						<div class="sk-circle7 sk-circle"></div>
						<div class="sk-circle8 sk-circle"></div>
						<div class="sk-circle9 sk-circle"></div>
						<div class="sk-circle10 sk-circle"></div>
						<div class="sk-circle11 sk-circle"></div>
						<div class="sk-circle12 sk-circle"></div>
					</div>
				</div>

				<div class="details-error-overlay" ng-show="request.error && request.error.error != 'requires-authentication'">
					<span class="fa fa-exclamation-circle"></span>
					<p class="title">Error loading request metadata.</p>
					<p class="message">{{ request.error.error }}</p>
				</div>

				<div class="details-authentication-overlay" ng-class="{failed:authentication.failed}" ng-show="authentication.shown">
					<form ng-submit="authentication.attempt()">
						<span class="fa fa-lock"></span>
						<p class="title">This site requires authentication.</p>
						<p class="title failed">Authentication failed.</p>
						<p class="message" ng-show="authentication.message">{{ authentication.message }}</p>
						<p ng-show="authentication.requires.includes('username')">
							<input type="text" ng-model="authentication.username" placeholder="Username">
						</p>
						<p ng-show="authentication.requires.includes('password')">
							<input type="password" ng-model="authentication.password" placeholder="Password">
						</p>
						<p>
							<button type="submit">Submit</button>
						</p>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
